{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="large-12 medium-8 columns">
    <div class="panel">
      <h3>Bienvenue dans le module de gestion des exports du mode degrade </h3>
      <p>Ce site est fonctionnel mais demande encore quelques amélioration.</p>
      <p>Merci de respecter les précautions d'usage suivantes:
      <ul>
        <li>Quand vous validez votre entrée, celle-ci est <strong>directement</strong> appliquée et <strong>irréversible</strong>
        <li>Utilisez la page <code>Admins</code> à vos risques et périls, ni moi ni les personnes qui m'ont créer ne pourront être incriminer pour votre bétise.
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
