{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="large-12 medium-12 columns">
    <form action="{{ url_for('add_site') }}" method=post >
      <fieldset>
        <legend>Ajouter un Site:</legend>
        <div class="row">
          <div class="large-8 medium-6 columns" >
            <label>Site: </label>
            <input type=text maxlength=16 name=Site placeholder="Nom du site" required autofocus>
          </div>
          {#
          <div class="large-12 columns">
            <label>Description: </label>
            <textarea maxlength=100 name=Description placeholder="Description du site"></textarea>
          </div>
          #}
          <div class="large-4 medium-2 columns" style='float:left;'>
            <button class="medium round button" type='submit' style="margin: 5%;">Ajouter
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 columns">
      <table role="grid" >
        <thead>
          <tr>
            <th width="200">Site</th>
            <th width="50">Nombre d'export</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for id_site,Site in l_sites|dictsort(True, 'key') %}
          {# {% if id_site != 0 %} #}
              <tr> 
                <td><a class="medium success button" href="/exports/{{ Site }}">{{ Site }}<a></td>
                <td>{{ d_folders[Site]|length }}</td>
                <td>These online courses offer you a chance to better understand how Foundation works and how you can master it to create awesome projects.</td>
              </tr>
          {#  {% endif %} #}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock content %}
