{% extends "layout.html" %}
{% block content %}
  {% if session.logged_in %}
    {# l_sites.values|reject('/') #}
    {% if path in l_sites.values() and path != '/' %}
     <div class="row">
     <div class="large-12 columns">
      <form action="{{ url_for('add_entry', path=path ) }}" method=post class=add-entry>
        {# <h3 class=Site>Site: {{ path }}</h3> #}
        <dl>
          <fieldset>
          <legend>Ajouter un export:</legend>
          <dt>Dossier: 
          <select name="Folder" autofocus>
            {% for line in l_folders %}
              <dd> <option value="{{ line }}">{{ line }}</option>
            {% endfor %}
          </select>
          <dt>Mot de passe: <input class=form-control type=password maxlength=16 name=Password required>
          <dt>Confirmation du mot de pass: <input type=password class=form-control tsize=16 maxlength=16 name=PasswordConfirm required>
          <dt>Destination(s):
          <dt><input type=text maxlength=255 size=30 name=Hostnames class=form-control placeholder="Separer par des virgules" multiple required>
          <dt>Email(s): 
          <dt><input type=email maxlength=255 size=50 name=Receivers class=form-control placeholder="Separer par des virgules" multiple required>
          <dt><input type=submit value=Ajouter>
        </dl>
        </fieldset>
      </form>
      <table class="tableau">
        <tr>
          <th>Dossier</th>
          {# <th>Mot de passe</th> #}
          <th>Destinations</th>
          <th>Nbr</th>
          <th>Utilisateur</th>
          <th></th>
        </tr>
      <form action="{{ url_for('del_entry', path=path) }}" method=post > 
      {# {% for folder,entry in d_folders[path].iteritems() %} #}
      {% for folder,entry in d_folders[path]|dictsort(True, 'key') %}
      {% if entry %}
        <tr>
          <td>{{ folder }}</td> 
          {# <td>{{ entry.Password }}</td> #}
          <td>{{ entry.Hostnames }}</td>
          <td class=nbr>{{ entry.Hostnames|length }}</td>
          <td>{{ entry.Receivers }}</td>
          <td><button type="submit" name="Folder" value={{ folder }}>Supprimer</td>
        </tr>
      {% endif %}
      {% endfor %}
      </table>
      </form>
    {# {% endif %} #}
    {# {% if path == '/' %} #}
    {% else %}
     <div class="row">
       <div class="large-12 medium-122 columns">
        <form action="{{ url_for('add_site') }}" method=post >
            <fieldset>
            <legend>Ajouter un Site:</legend>
            <div class="row">
              <div class="large-6 medium-6 columns">
                <label>Site: </label>
                <input type=text maxlength=16 name=Site placeholder="Nom du site" required autofocus>
              </div>
              <div class="large-8 medium-6 columns">
                <label>Description: </label>
                <input type=text maxlength=100 name=Description placeholder="Description du site">
              </div>
              <div class="large-4 medium-2 columns">
                <button class="small round button" type='submit'>Ajouter
              </div>
            </div>
            </fieldset>
        </form>
      </div>
     </div>
     <div class="row">
       <div class="large-12 columns">
        <form action="{{ url_for('del_site') }}" method=post > 
        <table >
       <div class="large-12 columns">
            <thead>
              <tr>
                <th width="200">Site</th>
                <th width="50">Nombre d'export</th>
                <th>Description</th>
                <th width="150"></th>
              </tr>
            </thead>
           <tbody>
             {% for id_site,Site in l_sites|dictsort(True, 'key') %}
               {% if id_site != 0 %}
                <tr> 
                  <td><a href="{{ Site }}">{{ Site }}<a></td>
                  <td>{{ d_folders[Site]|length }}</td>
                  <td>blablabla</td>
                  <td><button type="submit" name="Site" value={{ Site }}>Supprimer</td>
                </tr>
               {% endif %}
             {% endfor %}
           </tbody>
      </div>
        </table>
        </form>
   {% endif %}
      </div>
    </div>
 {% endif %}

{% endblock content %}
