{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    {# l_sites.values|reject('/') #}
    {% if path in l_sites.values() and path != '/' %}
      <form action="{{ url_for('add_entry', path=path ) }}" method=post class=add-entry>
        {# <h3 class=Site>Site: {{ path }}</h3> #}
        <dl>
          <fieldset>
          <legend>Ajouter un export:</legend>
          <dt>Dossier: 
          <select name="Folder" autofocus>
            {% for line in l_folders %}
              <dd> <option value="{{ line }}">{{ line }}</option>
            {% endfor %}
          </select>
          <dt>Mot de passe: <input class=form-control type=password maxlength=16 name=Password required>
          <dt>Confirmation du mot de pass: <input type=password class=form-control tsize=16 maxlength=16 name=PasswordConfirm required>
          <dt>Destination(s):
          <dt><input type=text maxlength=255 size=30 name=Hostnames class=form-control placeholder="Separer par des virgules" multiple required>
          <dt>Email(s): 
          <dt><input type=email maxlength=255 size=50 name=Receivers class=form-control placeholder="Separer par des virgules" multiple required>
          <dt><input type=submit value=Ajouter>
        </dl>
        </fieldset>
      </form>
      <table class="tableau">
        <tr>
          <th>Dossier</th>
          {# <th>Mot de passe</th> #}
          <th>Destinations</th>
          <th>Nbr</th>
          <th>Utilisateur</th>
          <th></th>
        </tr>
      <form action="{{ url_for('del_entry', path=path) }}" method=post > 
      {# {% for folder,entry in d_folders[path].iteritems() %} #}
      {% for folder,entry in d_folders[path]|dictsort(True, 'key') %}
      {% if entry %}
        <tr>
          <td>{{ folder }}</td> 
          {# <td>{{ entry.Password }}</td> #}
          <td>{{ entry.Hostnames }}</td>
          <td class=nbr>{{ entry.Hostnames|length }}</td>
          <td>{{ entry.Receivers }}</td>
          <td><button type="submit" name="Folder" value={{ folder }}>Supprimer</td>
        </tr>
      {% endif %}
      {% endfor %}
      </table>
      </form>
    {# {% endif %} #}
    {# {% if path == '/' %} #}
    {% else %}
      <form action="{{ url_for('add_site') }}" method=post class=add-entry>
          <fieldset>
          <legend>Ajouter un Site:</legend>
        <dl>
          <dt>Site: <input type=text maxlength=16 size=16 name=Site multiple required autofocus><input type=submit value=Ajouter >
        </dl>
          </fieldset>
      </form>
      </br>
    <form action="{{ url_for('del_site') }}" method=post class=add-entry > 
    <table class="tableau">
      <tr>
          <th>Site</th>
          <th>Nbr d'exports</th>
          <th></th>
      </tr>
       {# {% for Site in d_folders.keys() %} #}
       {% for id_site,Site in l_sites|dictsort(True, 'key') %}
       {% if id_site != 0 %}
      <tr> 
        <td><a href="{{ Site }}">{{ Site }}<a></td>
        <td class=nbr>{{ d_folders[Site]|length }}</td>
        <td class=ouf><button type="submit" name="Site" value={{ Site }}>ClickMe</td>
      </tr>
       {% endif %}
        {% endfor %}
    </table>
        </br>
    </form>
    {% endif %}
    {% endif %}
{% endblock %}
  {#{% endif %} #}
